.Navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(4, 26, 32);
  background-image: var(--primary-gradient);
  box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 75%);
  position: relative;
  z-index: 1;
  top: 0;
}

.Navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex: 1;
  max-width: 1400px;
}

.Navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Navbar .logo .img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50rem;
  border: 2px solid var(--primary-color);
  overflow: hidden;
  min-width: 50px;
  max-width: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar .logo img {
  width: 90%;
  height: 90%;
}

.Navbar .logo h2 {
  color: var(--simi-white-color);
  font-weight: 400;
  margin: 0;
  font-size: 20px;
}

.Navbar ul {
  display: flex;
  gap: 20px;
}
.Navbar ul li:not(.dropdown) {
  position: relative;
}
.Navbar ul li:not(.dropdown) a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 50rem;
  background: var(--primary-color);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.3s;
}
.Navbar ul li:not(.dropdown) a:hover::after,
.Navbar ul li:not(.dropdown) a.active::after {
  width: 100%;
}
.Navbar ul li:not(.dropdown) a {
  text-transform: uppercase;
  color: var(--simi-white-color);
  padding: 0;
}
.Navbar ul li.dropdown {
  display: none;
  cursor: pointer;
}
@media (max-width: 676px) {
  .Navbar ul li.dropdown {
    display: block;
  }
  .Navbar nav > ul li:not(.dropdown) {
    display: none;
  }
}
.Navbar ul li.dropdown i {
  font-size: 22px;
  transform: rotateY(180deg);
}
.Navbar ul li.dropdown.active i {
  transition: 1.5s transform ease;
  transform: rotateY(540deg);
}
.Navbar nav .nav-links {
  position: absolute;
  bottom: -10px;
  left: 10px;
  transform: translate(-1000%, 100%);
  background: rgba(4, 26, 32, 0.8);
  width: calc(100% - 20px);
  padding: 10px 20px;
}
.Navbar nav .nav-links ul {
  display: flex;
  flex-direction: column;
}
.Navbar .nav-links ul li a::after {
  left: 0;
  transform: translateX(0);
}
.Navbar .nav-links ul li a:hover::after,
.Navbar .nav-links ul li a.active::after {
  width: 100%;
}
.Navbar nav .nav-links.active {
  transition: 0.5s transform;
  transform: translate(0, 100%);
}
